* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  /*background: linear-gradient(#e66465, #9198e5);*/
}

body {
  background-color: rgb(26 26 26);
}

.nav-bar {
  background-color: #2d3763;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: sticky;
  top: 0;
  height: 4vh;

  z-index: 100;
}

.tabs{
  /*border: 1px sol id green;*/
  /*margin: 0 auto;*/
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}






.home {
  display: flex;
  justify-content: space-between;
  padding-left: 15vw;
  padding-right: 15vw;

  /*background-color: #1d264a;*/
}

.home h1 {
  color: orange;
}

.home-text{
  text-align: justify;
  width:50%;
  margin-right: 5vw;
  color: white;
  font-size: 1.4rem;
  margin-top: 15vh;
}

.home-buttons {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.github-image-container{
  height: 4vh;
  margin-right: 1vw;
}

.github-image{
  height: 100%;

}

.home a{
  padding-top: 1vw;
  text-decoration: none;
  color: orange;
}









.mypicture-wrapper {
  padding-top: 10vh;
  width: 30%;
}

.mypicture {
  width: 100%;
  height: 65%;
  object-fit: cover;
  object-position: top center;
  border-radius: 60%;
}


.education-header{
  text-align: center;
  font-size: 6.5vh;
  color: orange;
  margin-bottom: 5vh;
}

.education-header::before,
.education-header::after {
  display: inline-block;
  content: "";
  border-top: .3rem solid orange;
  width: 15rem;
  margin: 0 1rem;
  transform: translateY(-0.5rem);
}

.education-wrapper, .work-experience-wrapper{
  padding-top: 10vh;
}

.education{
  display: flex;
  justify-content: space-between;
  padding-left: 15vw;
  padding-right: 15vw;
}


.mypicture-education-wrapper{
  width: 30%;
}

.mypicture-education {
  width: 30vw;
}

.education-text h1 {
  color: #91d5fa;
}

.education-text {
  font-size: 1.4rem;
  color: white;
  width: 35vw;
}

ul {
  padding: 1.5vw;
}











#projects{
  padding-top: 10vh;
}

.projects-wrapper {

  display: flex;
  flex-wrap: wrap;
  /*background-color: black;*/
}

.projects {
  width: 50%;
  font-size: 1.4rem;
}

.project1, .project2, .project3 {
  margin-left: 5vw;
  margin-right: 5vw;
  color: white;
}

.project2{
  margin-top: 40vh;
}

.project3{
}

.mypicture-project-wrapper {

}

.mypicture-project {
  width: 100%;
}

.vertical-line {
  /*transform: rotate(90deg) translateX(56%) translateY(-50px);*/
  /*width: 89vw;*/
  /*border-color: orange;*/
  /*border-width: 2px;*/

  width: 3px;
  background-color: orange;
  position: absolute;
  right: 50%;
  height: 100vw;
}

@media screen and (max-width: 1000px) {
  /*make it one column*/
  .projects {
    width: 100%;
  }

  .vertical-line {
    height: 0;
  }

  .project2{
    margin-top: 0vh;
    font-size: 1.2rem;
  }

  .project1, .project2, .project3 {
    margin-bottom: 15vh;
  }

}












/*work experience section*/
.work-experience-wrapper {
  margin-top: 10vh;
}

.job{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  /*margin-bottom: 10vh;*/

  padding-top: 5vh;
  padding-bottom: 5vh;

  margin-left: 25vw;
  margin-right: 25vw;

  border: 1px solid orange;
  font-size: 1.4rem;
}

.job-logo{
  width: 30vw;
}

.job-picture{
  object-fit: cover;
  width: 100%;
}

.job-company-name{
  margin-top: 3.5vh;
}

.job-text{
  margin-top: 3.5vh;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}

.job hr {
  width: 90%;
  border: 1px solid orange;
  margin-top: 2vh;
}
